@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}

.default-button {
    height: 50px;
    color: #fff !important;
    box-shadow: none !important;
    border-radius: 10px !important;
    text-transform: none !important;
    background-color: #00aafd !important;
}

.default-cancel-button {
    height: 50px;
    color: #fff !important;
    box-shadow: none !important;
    border-radius: 10px !important;
    text-transform: none !important;
}

